header {
    position: fixed !important;
    width: 100%;
    top: 0;
    background-color: white;
    position: relative;
    z-index: 2;
}
main {
    margin-top: 15%;
}
.btn-success {
    background-color: #59041C !important;
    border: none !important;
}
h1, h2, h3, h5, h6 {
    font-family: lora;
}
.navList {
    font-weight: 500 !important;
}
.navList:hover {
    border-bottom: 2px solid #59041C ;
    color: #59041C !important;
    font-weight: 500;
}
h1 {
    font-size: 42px !important;
    width: 85%;
}
.firstSec {
    background-color: #FFF9F2;
}
ul {
    list-style: image-set(
        url(home/mark.png)
    );
}
.Partners {
    width: 90%;
}
.secFour {
    background-color: #002538;
    height: 80vh;
    /* overflow-y: hidden; */
}
.yesImg {
    width: 80%;
    /* height: 70vh !important; */
}
.secFive {
    background-color: #FFF9F2;
    position: relative;
    z-index: 1;
}
.secSix {
    margin: 100px;
    background-color: #002538;
}
.bg-body-whit {
    background-color: white !important;
    border-top: 3px solid #59041C;
    border-right: 3px solid #59041C;
    border-radius: 10px;
}
.bg-transparent {
    background-color: transparent !important;
}
.frame-img {
    width: 0%;
    /* height: 330px; */
}
.sec8 {
    background-color: #FFF9F2;
    padding: 50px;
    margin-top: 20px;
}
.bg-1-f {
    background-color: #59041C;
}
.btn-ligh {
    background-color: #FFF9F2 !important;
    color: #59041C !important;
}
.icons {
    width: 35%;
}
footer {
    overflow-x: hidden;
}
@media screen and (min-width:769px) {
    main {
        margin-top: 4%;
    }
    .rowOne, .rowTwo, .rowFive {
        display: flex ;
        align-items: center;
        justify-content: center;
    }
    .rowSix {
        display: flex;
        align-items: center;
        gap: 70px;
    }
    .Partners {
        width: 30%;
    }
    
    .frame-img {
        width: 70%;
        height: 330px;
    }
    .n-p {
        width: 80%;
    }
    .d-xperience2 {
        width: 38% !important;
    }
    .icons {
        width: 20% !important;
    }
}
@media screen and (min-width:981px) {
    main {
        margin-top: 4%;
    }
    .rowOne, .rowTwo, .rowFive {
        display: flex ;
        align-items: center;
        justify-content: center;
    }
    .rowSix {
        display: flex;
        align-items: center;
        gap: 70px;
    }
    .Partners {
        width: 30%;
    }
    .secFour {
        background-color: #002538;
        height: 50vh;
        margin-top: 10%;
        margin-bottom: 15%;
        border-radius: 15px;

    }
    .NeRF {
        position: relative;
        bottom: 150px;
    }
    /* .Neural-p {
        width: 350px;
    } */
    .yesIMg {
        margin-left: 20%;
        position: relative;
        
    }
    .frame-img {
        width: 70%;
        height: 330px;
    }
    .n-p {
        width: 80%;
    }
    .d-xperience2 {
        width: 38% !important;
    }
    
}