header {
    position: fixed !important;
    width: 100%;
    top: 0;
    background-color: white;
}
main {
    margin-top: 15%;
}
.btn-success {
    background-color: #59041C !important;
    border: none !important;
}
.navList {
    font-weight: 500 !important;
}
.navList:hover {
    border-bottom: 2px solid #59041C ;
    color: #59041C !important;
    font-weight: 500;
}
h1 {
    font-size: 42px !important;
    width: 85%;
}
.firstSec {
    background-color: #FFF9F2;
}
ul {
    list-style: image-set(
        url(home/mark.png)
    );
}
.secFour {
    background-color: #002538;
    height: 90vh;
}
.yesImg {
    width: 80%;
    /* height: 70vh !important; */
}
.secFive {
    background-color: #FFF9F2;
    position: relative;
    z-index: 1;
}
.bg-body-whit {
    background-color: white !important;
    border-top: 3px solid #59041C;
    border-right: 3px solid #59041C;
    border-radius: 10px;
}